@page
@model IndexModel

@{
  Layout = null;
  ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head></head>
<body style="margin: 0px;">
  <div id="root"></div>
  <script type="text/javascript" src="~/Home.js"></script>

  <!-- <div style="opacity:0.5;position:absolute;left:80px;top:60px;width:300px;height:150px;background-color:#40B3DF"></div>
  <div style="opacity:0.3;position:absolute;left:350px;top:100px;width:100px;height:170px;background-color:#73AD21"></div>
  <div style="margin-top:30px;width:360px;height:130px;padding:20px;border-radius:10px;border:10px solid #EE872A;font-size:120%;">
    <h1>Clinic Database</h1>
    <div style="letter-spacing:12px;font-size:15px;position:relative;left:25px;top:25px;"></div>
    <div style="color:#40B3TF;letter-spacing:12px;font-size:15px;position:relative;left:30px;top:30px;">,
    <span style="background-color:#B4009E;color:#ffffff;left:25px;top:25x;">Team 5</span></div>
  </div>

<div class="text-center">
    <h1 class="display-3">Welcome!</h1>
</div>


<form method="post" align="center" >
    <input type="text" placeholder="Enter Username" name="username" required>
    <input type="password" placeholder="Enter Password" name="password" required>
    <input type="submit">
</form>

<style>
p{
    border: 4px solid powderblue;
}
</style>

<div align="center" top:1000px>
<h1>About</h1>
<p>This clinic database was created by five students as a group project for their computer science class.
<div>Students: Andy Bui, Austin Strain, Justin Cao, Nilanjan Chowdhury, Ramiro Castrejon, Steven Stricklin</div> 
</p>
</div>

<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:maroon;
   color: white;
   text-align: center;
}
</style> -->
</body>
</html>

